<mat-card>
  <div
    class="img-container"
    [ngStyle]="{ 'background-image': 'url(' + card.imglink + ')' }"></div>
  <mat-card-actions>
    <app-video-stats [statistics]="defaultStats"></app-video-stats>
  </mat-card-actions>
  <mat-card-title class="card-title">{{
    (card.title | slice: 0:33) + '...'
  }}</mat-card-title>
  <div class="button-container">
    <a [href]="card.videolink" target="_blank">
      <button mat-raised-button color="primary">Watch Video</button>
    </a>
  </div>
  <mat-card-footer
    appBackgroundHighlight
    [dateOfPublishing]="card.date"></mat-card-footer>
</mat-card>
