<mat-card>
  <div
    class="img-container"
    [ngStyle]="{
      'background-image': 'url(' + card.snippet.thumbnails.medium.url + ')'
    }"></div>
  <mat-card-actions>
    <app-video-stats [statistics]="card.statistics"></app-video-stats>
  </mat-card-actions>
  <mat-card-title class="card-title">{{
    (card.snippet.title | slice: 0:33) + '...'
  }}</mat-card-title>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onDetails()">
      more...
    </button>
  </div>
  <mat-card-footer
    appBackgroundHighlight
    [dateOfPublishing]="card.snippet.publishedAt"></mat-card-footer>
</mat-card>
