<div class="container details_container">
  <div class="card_container">
    <div class="back_btn">&lt;</div>
    <img
      src="https://i.ytimg.com/vi/YN8zNnV0sK8/sddefault.jpg"
      class="details_img" />
    <div class="card">
      <div class="info_block">
        <h4 class="card_title">Angular 8 - Быстрый курс за 60 минут</h4>
        <div class="card_subtitle">2022-10-04T12:42:19.000Z</div>
        <h5 class="description_title">Description:</h5>
        <p class="card_description">
          Полный курс по Angular 8+:\nhttps://clc.to/angular\n\nTelegram:
          https://teleg.one/js_by_vladilen \nInstagram:
          https://www.instagram.com/vladilen.minin \nVK:
          https://vk.com/vladilen.minin \nГруппа VK:
          https://vk.com/js_by_vladilen \n\nReact Native: мобильная разработка
          на JavaScript:\nhttps://clc.to/rnative\n\nПоддержать выпуск новых
          видео
        </p>
      </div>
      <div class="stats_block">
        STATS
        <!-- <app-video-stats [statistics]="item.statistics"></app-video-stats> -->
      </div>
    </div>
  </div>
</div>
