.mat-card {
  background-color: #e5e5e5;
}

.card-stats {
  display: flex;
  column-gap: 16px;
}

.mat-card-title {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.border-red {
  height: 5px;
  background-color: #eb5757;
}

.border-green {
  height: 5px;
  background-color: #27ae60;
}

.border-blue {
  height: 5px;
  background-color: #2f80ed;
}

.border-yellow {
  height: 5px;
  background-color: #f2c94c;
}
