<mat-card>
  <img mat-card-image src="https://i.ytimg.com/vi/YN8zNnV0sK8/mqdefault.jpg" />
  <mat-card-actions>
    <div class="card-stats">
      <span title="views"
        ><mat-icon fontIcon="visibility"></mat-icon>33265</span
      >
      <span title="likes"><mat-icon fontIcon="thumb_up"></mat-icon>1173</span>
      <span title="dislikes"
        ><mat-icon fontIcon="thumb_down"></mat-icon>26</span
      >
      <span title="comments"><mat-icon fontIcon="forum"></mat-icon>170</span>
    </div>
  </mat-card-actions>
  <mat-card-title>Angular 8 - Быстрый курс за 60 минут</mat-card-title>
  <div class="button-container">
    <button mat-raised-button color="primary">more...</button>
  </div>
  <mat-card-footer>
    <div class="border-red"></div>
  </mat-card-footer>
</mat-card>
