<div class="header">
  <mat-grid-list cols="4" rowHeight="80px" class="container">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile colspan="2">
      <div class="logo"></div>

      <form
        #searchForm
        class="search-form"
        (submit)="onSearch(); searchForm.reset()">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput name="query" [(ngModel)]="query" />
        </mat-form-field>

        <button mat-raised-button color="primary">Search</button>
      </form>

      <button mat-mini-fab color="primary" (click)="toggleFilters()">
        <mat-icon fontIcon="tune"></mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <span class="user-name">Your Name</span>

      <button mat-mini-fab color="primary">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
