<div class="filters" *ngIf="show">
  <mat-grid-list cols="4" rowHeight="50px" class="container">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile colspan="2">
      <span class="filters-title">Sorting by:</span>

      <button mat-button color="primary" (click)="setDateOrder()">date</button>
      <button mat-button color="primary" (click)="setViewsOrder()">
        count of views
      </button>
      <label mat-button color="primary" class="input-label">
        by word or sentence
        <input
          #filterInput
          type="text"
          (input)="setWordFilter(filterInput.value)" />
      </label>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>
