<div class="header">
  <div class="container header__container">
    <div class="side-block"></div>

    <div class="center-block">
      <div class="logo" (click)="goHome()"></div>

      <form
        class="search-form"
        [ngClass]="{ hidden: !authService.isLoggedIn }"
        (input)="onInput($event)">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput />
        </mat-form-field>
      </form>

      <button
        mat-mini-fab
        color="primary"
        [ngClass]="{ hidden: !authService.isLoggedIn }"
        (click)="toggleFilters()">
        <mat-icon fontIcon="tune"></mat-icon>
      </button>
    </div>

    <div class="side-block">
      <span class="user-name" [innerText]="userService.username"></span>

      <button
        mat-mini-fab
        color="primary"
        class="auth_btn"
        [ngClass]="{ hidden: authService.isLoggedIn }">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </button>
      <button
        mat-mini-fab
        color="primary"
        class="auth_btn"
        [ngClass]="{ hidden: !authService.isLoggedIn }"
        (click)="onLogout()">
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>
  </div>
</div>
