<div class="filters" *ngIf="filtersService.isVisible">
  <div class="container filters__conteiner">
    <div class="side-block"></div>

    <div class="center-block">
      <span class="filters-title">Sorting by:</span>

      <button mat-button color="primary" (click)="setDateOrder()">date</button>
      <button mat-button color="primary" (click)="setViewsOrder()">
        count of views
      </button>
      <input
        #filterInput
        type="text"
        placeholder="by word or sentence"
        (input)="setWordFilter(filterInput.value)" />
    </div>

    <div class="side-block"></div>
  </div>
</div>
