.mat-card {
  background-color: #e5e5e5;
}

.card-stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  // column-gap: 16px;
}

.mat-card-title {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.border {
  height: 5px;
}
