.mat-card {
  background-color: #e5e5e5;
  flex-basis: 25%;
  max-width: 263px;
}

.mat-card-title {
  text-align: center;
  min-height: 60px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.mat-card-footer {
  height: 5px;
}
